Repository jojonas/pyage: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, mypy, requirements.txt

.pre-commit-config.yaml:

default_stages: [push]
default_language_version:
  python: python3.7
repos:
- repo: local
  hooks:
  - id: black
    stages: [commit,push]
    name: Format source using black
    entry: pipenv run black -q
    files: "^src/.*\\.py$"
    require_serial: true
    language: system
  - id: isort
    stages: [commit,push]
    name: Sort imports
    entry: pipenv run isort -rc
    files: "^src/.*\\.py$"
    require_serial: true
    language: system
  - id: flake8
    stages: [commit,push]
    name: Check for programming errors
    entry: pipenv run flake8
    files: "^src/.*\\.py$"
    require_serial: true
    language: system
  - id: mypy
    stages: [commit,push]
    name: Check for type errors
    entry: pipenv run mypy --no-error-summary
    files: "^src/.*\\.py$"
    require_serial: true
    language: system
  - id: requirements.txt
    stages: [commit,push]
    name: Regenerate requirements[-dev].txt
    entry: pipenv run pipenv_to_requirements -f
    files: "^Pipfile(?:.lock)?$"
    pass_filenames: false
    language: system

Comment out Rst linting
  .pre-commit-config.yaml
Due: none

Update documentation
  docs/Makefile
  docs/source/api/modules.rst
  docs/source/background.rst
  docs/source/cli.rst
  docs/source/conf.py
  docs/source/guides.rst
  docs/source/index.rst
  docs/source/reference.rst
  docs/source/tutorials.rst
  src/age/primitives/encode.py
Due: black, isort, flake8, mypy

Fix a bug with wrapping
  src/age/file.py
  src/age/format.py
  src/age/primitives/encode.py
  src/age/primitives/encode_test.py
Due: black, isort, flake8, mypy

Add SSH-RSA compability tests
  .github/workflows/compatibility.yml
  testdata/test_rsa
  testdata/test_rsa.pub
Due: none

Change function signature
  src/age/keyloader.py
Due: black, isort, flake8, mypy

Fix push paths for GitHub actions
  .github/workflows/buildandtest.yml
  .github/workflows/compatibility.yml
Due: none

Add carbon screenshot
  docs/source/_static/carbon.svg
Due: none

Rework README
  README.md
Due: none

Migrate to screenshot in PNG format
  README.md
  docs/source/_static/carbon.png
  docs/source/_static/carbon.svg
Due: none

Screenshot with transparent background
  docs/source/_static/carbon.png
Due: none

Run apt-get update before installation
  .github/workflows/buildandtest.yml
  .github/workflows/compatibility.yml
Due: none

Implement Bech32 addresses
  .vscode/settings.json
  Pipfile
  Pipfile.lock
  README.md
  setup.cfg
  src/age/cli.py
  src/age/cli_test.py
  src/age/keyloader.py
  src/age/keyloader_test.py
  src/age/keys/agekey.py
  src/age/keys/agekey_test.py
  src/age/openssh_keys.py
  src/age/primitives/bech32.py
  src/age/primitives/bech32_test.py
  workspace.code-workspace
Due: black, isort, flake8, mypy, requirements.txt

Changed to canonical (not urlsafe) base64
  src/age/primitives/encode.py
  src/age/recipients/base_test.py
  src/age/recipients/helpers_test.py
Due: black, isort, flake8, mypy

Changed recipient wrapping to 64 columns
  src/age/format.py
Due: black, isort, flake8, mypy

ASCII armor implemented
  .gitignore
  README.md
  src/age/cli.py
  src/age/keyloader_test.py
  src/age/openssh_keys.py
  src/age/utils/asciiarmor.py
  src/age/utils/asciiarmor_test.py
Due: black, isort, flake8, mypy

Upgrade GitHub actions to Python 3.8
  .github/workflows/buildandtest.yml
  .github/workflows/compatibility.yml
Due: none

Change to new labels
  README.md
  src/age/algorithms/scrypt.py
  src/age/algorithms/ssh_ed25519.py
  src/age/algorithms/ssh_rsa.py
  src/age/algorithms/x25519.py
  src/age/cli_test.py
  src/age/format.py
  src/age/format_test.py
Due: black, isort, flake8, mypy

Update Pipfile.lock and requirements.txt
  Pipfile.lock
  requirements-dev.txt
  requirements.txt
Due: requirements.txt

add additional actions trigger
  .github/workflows/buildandtest.yml
  .github/workflows/compatibility.yml
  src/age/cli_test.py
Due: black, isort, flake8, mypy

Run mypy in Pipenv
  .github/workflows/buildandtest.yml
Due: none

Fix some typing issues
  src/age/cli.py
  src/age/openssh_keys.py
Due: black, isort, flake8, mypy

Fix go-age's installation in GitHub action
  .github/workflows/compatibility.yml
  testdata/key.txt
Due: none

Fixed GitHub actions paths
  .github/workflows/compatibility.yml
Due: none

Fix invocation of go-age
  .github/workflows/compatibility.yml
Due: none

Fix a bug with SSH-ed25519 keys
  src/age/recipients/ssh_ed25519.py
Due: black, isort, flake8, mypy

Updated documentation
  README.md
  docs/source/_static/carbon.png
  docs/source/cli.rst
  docs/source/guides.rst
  docs/source/tutorials.rst
Due: none

Warn if key is piped to an insecure file
  src/age/cli.py
Due: black, isort, flake8, mypy

Regenerated sources
  docs/source/api/age.primitives.rst
  docs/source/api/age.utils.rst
  requirements-dev.txt
  requirements.txt
Due: none

Use index.rst as master doc
  docs/source/conf.py
Due: none

Silently continue if outfile is mocked
  src/age/cli.py
Due: black, isort, flake8, mypy

Make screenshot bg transparent
  docs/source/_static/carbon.png
Due: none

Remove drop shadow of screenshot
  docs/source/_static/carbon.png
Due: none

Integrate PyNaCl version 1.4.0
  .github/workflows/buildandtest.yml
  .github/workflows/compatibility.yml
  Pipfile
  Pipfile.lock
  setup.cfg
  src/age/__init__.py
  src/age/keys/ed25519.py
  src/age/primitives/x25519.py
  src/age/recipients/helpers.py
  src/age/utils/libsodium.py
  src/age/utils/libsodium_test.py
Due: black, isort, flake8, mypy, requirements.txt

Remove remaining references to direct libsodium usage
  .github/workflows/buildandtest.yml
  .github/workflows/compatibility.yml
  docs/source/api/age.utils.rst
  docs/source/tutorials.rst
Due: none

Prepare for publishing
  .gitignore
  LICENSE
  README.md
  setup.cfg
Due: none

Update requirements.txt
  .pre-commit-config.yaml
  requirements-dev.txt
  requirements.txt
  src/age/__init__.py
Due: black, isort, flake8, mypy

Automatic deployment to (Test)PyPi
  .github/workflows/buildandtest.yml
  .github/workflows/compatibility.yml
  .github/workflows/publish.yml
  .pre-commit-config.yaml
  Pipfile
  Pipfile.lock
  requirements-dev.txt
  requirements.txt
  setup.cfg
  src/age/__init__.py
Due: black, isort, flake8, mypy, requirements.txt

Update readthedocs config
  .github/workflows/publish.yml
  readthedocs.yml
Due: none

Make readthedocs install doc dependencies
  Pipfile
  readthedocs.yml
  setup.cfg
Due: requirements.txt

Update documentation: Install from pip
  Pipfile.lock
  README.md
  docs/Makefile
  docs/source/api/age.rst
  docs/source/api/age.utils.rst
  docs/source/background.rst
  docs/source/development.rst
  docs/source/index.rst
  docs/source/tutorials.rst
  src/age/__init__.py
Due: black, isort, flake8, mypy, requirements.txt
